* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {  
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
  }

  app-root {
    display: block;
    min-height: 100vh;
  }
  
  .admin-header {
    background-color: black;
    padding: 10px;
    width: 100%;
    border: none;
  }
  
  .header-text h1 {
    color: white;
    font-size: 28px;
    margin-left: 12px;
    border: none;
    font-weight: bold;
    text-align: left;
  }
  
  .admin-main {
    height: calc(100% - 48px);
    display: flex;
    flex: 1;
    background-color: white;
  }
  
  /* Lagt till en container som omsluter allt */
  .admin-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .container {
    display: flex;
    flex: 1;
    height: 100%;
    border: none;
    background-color: white;
  }
  
  .sidebar {
    width: 200px;
    height: 100%; /* This should be fine, but let's enhance it */
    min-height: calc(100vh - 48px); /* Subtract header height */
    background-color: #dddddd;
    padding: 25px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar h2 {
    font-size: 18px;
    color: black;
    border: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  
  .content-container {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    border: none;
    background-color: white;
    color: black;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border: none;
  }

