.product-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-details-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.product-image {
  flex: 1;
  margin-bottom: 20px;
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-info {
  flex: 1;
  padding: 0 10px;
}

.product-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.product-info .brand {
  margin-bottom: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gray;
  font-size: 14px;
}

.price {
  font-weight: bold;
  font-size: 18px;
}

.product-details .cart-button {
  display: block;
  width: 100%;
  max-width: 600px; /* Match image width for better alignment */
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  margin-bottom: 30px;
  order: 4; /* Button comes last */
  margin-top: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.product-details .cart-button:hover {
  background-color: rgb(222, 218, 218);
}

.loading,
.error {
  text-align: center;
  padding: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
  .product-details-card {
    flex-direction: row;
    gap: 30px;
  }

  .product-image {
    margin-bottom: 0;
  }

  .product-info h1 {
    font-size: 28px;
  }
}
